<%= form_with(model: @user, local: true) do |f| %>
    <div class="input-field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name, placeholder: "Your Full Name" %>
    </div>
    <div class="input-field">
        <%= f.label :email, class: 'label' %>
        <br>
        <%= f.text_field :email, placeholder: "Your Email Id" %>
    </div>
    <div class="input-field">
        <%= f.label :contact, class: 'label' %>
        <br>
        <%= f.text_field :contact, placeholder: "Your Phone Number" %>
    </div>
    <div class="buttons">    
        <%= f.submit "Start", class: "start-test" %>
        <%= link_to 'Cancel', root_path, class: "cancel-test" %>
    </div>
<% end %>
